{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
Lisää projekti
{% endblock %}

{% block content %}

<div class="container">
	<div class="row justify-content-center">
		<div class="col-8">
			<h1 class="mt-2">Lisää projekti</h1>
			<hr class="mt-0 mb-4">

			<h6 class="mt-2">Referenssiprojekti?</h6>
			<div class="custom-control custom-checkbox">
			  	<input type="checkbox" class="custom-control-input" id="ref_check" onclick="HideAndReveal()">
			  	<label class="custom-control-label" for="ref_check">Kyllä</label>
			</div>

			<form action="" id="add_project_form" method="post">
				{% csrf_token %}
				<div class="row">
					<div class="col-6">
						{{ form1.project_name | as_crispy_field }}
					</div>
					<div class="col-6">
						{{ form1.destination_name | as_crispy_field }}
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						{{ form1.start_date | as_crispy_field}}
					</div>
					<div class="col-6">
						{{ form1.end_date | as_crispy_field }}
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<label>
							Rakennustyyppi
						</label>
						<select class="js-example-basic-multiple" id="selector1" name="structure_type" multiple="multiple" style="width: 100%">
							{% for filter in f1 %}
								<option value= "{{ filter }}" > {{ filter }} </option>
							{% endfor %}
						</select>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-12">
						<label>
							Rakennusmateriaali
						</label>
						<select class="js-example-basic-multiple" id="selector2" name="building_material" multiple="multiple" style="width: 100%">
							{% for filter in f2 %}
								<option value= "{{ filter }}" > {{ filter }} </option>
							{% endfor %}
						</select>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-12">
						<label>
							Palvelu
						</label>
						<select class="js-example-basic-multiple" id="selector3" name="service" multiple="multiple" style="width: 100%">
							{% for filter in f3 %}
								<option value= "{{ filter }}" > {{ filter }} </option>
							{% endfor %}
						</select>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-12">
						<label>
							Rakennustoimenpide
						</label>
						<select class="js-example-basic-multiple" id="selector4" name="construction_operation" multiple="multiple" style="width: 100%">
							{% for filter in f4 %}
								<option value= "{{ filter }}" > {{ filter }} </option>
							{% endfor %}
						</select>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-12">
						<label>
							Rakenneosa
						</label>
						<select class="js-example-basic-multiple" id="selector5" name="structural_component" multiple="multiple" style="width: 100%">
							{% for filter in f5 %}
								<option value= "{{ filter }}" > {{ filter }} </option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						{{ form1.keywords | as_crispy_field }}
					</div>
					<div class="col-6">
						{{ form1.project_manager | as_crispy_field }}
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						{{ form1.project_description | as_crispy_field }}
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						{{ form1.documentation_path | as_crispy_field }}
					</div>
				</div>

				<div class="row">
					<div class="col-6">
						{{ form2.undertaking | as_crispy_field }}
					</div>
					<div class="col-6">
						{{ form2.client | as_crispy_field }}
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						{{ form2.area | as_crispy_field}}
					</div>
					<div class="col-6">
						{{ form2.construction_cost | as_crispy_field }}
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						{{ form2.project_accepted | as_crispy_field }}
					</div>
					<div class="col-6">
						{{ form2.construction_permit_granted | as_crispy_field }}
					</div>
				</div>

				<button type="submit" id="submit_button" class="btn btn-success"> Tallenna </button>

			</form>
		</div>
	</div>
</div>

<script>
	function HideAndReveal() {
	  var check_box = document.getElementById("ref_check");
	  var rf1 = document.getElementById("ref_field1");
	  var rf2 = document.getElementById("ref_field2");
	  var rf3 = document.getElementById("ref_field3");
	  var rf4 = document.getElementById("ref_field4");
	  var rf5 = document.getElementById("ref_field5");
	  var rf6 = document.getElementById("ref_field6");
	  if (check_box.checked == true){
	    rf1.style.display = "block";
	    rf2.style.display = "block";
	    rf3.style.display = "block";
	    rf4.style.display = "block";
	    rf5.style.display = "block";
	    rf6.style.display = "block";
	    rf1.disabled = false;
	    rf2.disabled = false;
	    rf3.disabled = false;
	    rf4.disabled = false;
	    rf5.disabled = false;
	    rf6.disabled = false;
	  } else {
	    rf1.style.display = "none";
	    rf2.style.display = "none";
	    rf3.style.display = "none";
	    rf4.style.display = "none";
	    rf5.style.display = "none";
	    rf6.style.display = "none";
	    rf1.disabled = true;
	    rf2.disabled = true;
	    rf3.disabled = true;
	    rf4.disabled = true;
	    rf5.disabled = true;
	    rf6.disabled = true;
	  }
	}
	HideAndReveal();
</script>

<script>
	$(document).ready(function() {
	    $('.js-example-basic-multiple').select2({
	    	theme: "bootstrap",
	    	placeholder: "Valitse yksi tai useampi"
	    });
	});
</script>

<script>
	document.getElementById("submit_button").addEventListener("click", function(){
	  window.btn_clicked = true; 
	});
	var formChanged = false;
	var myForm = document.getElementById('add_project_form');
	var selectors = document.getElementsByClassName('js-example-basic-multiple');
	for (let selector of selectors) {
		$('#' + selector.id).on('select2:selecting', function(e) {
			console.log("test this .......");
			formChanged = true;
		});
	}

	myForm.addEventListener('change', () => formChanged = true);
	window.addEventListener('beforeunload', (event) => {
	  if (formChanged && !window.btn_clicked) {
		  event.preventDefault();
		  event.returnValue = '';
	  }
	});
</script>

{% endblock %}