{% extends 'base.html' %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block title %}
Lisää projekti
{% endblock %}

{% block content %}

<div class="container">
	<div class="row justify-content-center">
		<div class="col-8">
			<h1 class="mt-2">Lisää projekti</h1>
			<hr class="mt-0 mb-4">
			<form action="" id="add_project_form" method="post">
				{% csrf_token %}
				<div class="row">
					<div class="col-6">
						{{ form.project_name|as_crispy_field }}
					</div>
					<div class="col-6">
						{{ form.destination_name|as_crispy_field }}
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						{{ form.start_date | as_crispy_field}}
					</div>
					<div class="col-6">
						{{ form.end_date | as_crispy_field }}
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						{{ form.structure_type|as_crispy_field }}
					</div>
					<div class="col-6">
						{{ form.building_material|as_crispy_field }}
					</div>
					<div class="col-6">
						{{ form.service|as_crispy_field }}
					</div>
					<div class="col-6">
						{{ form.construction_operation|as_crispy_field }}
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						{{ form.specific_project_type|as_crispy_field }}
					</div>
					<div class="col-6">
						{{ form.project_manager|as_crispy_field }}
					</div>
				</div>
				{{ form.project_description|as_crispy_field }}
				<div class="row">
					<div class="col-6">
						{{ form.documentation_path|as_crispy_field }}
					</div>
				</div>
				<input type="hidden" name="{{ stage_field }}" value="1" />
				<p><input type="submit" id="submit_button" class="btn btn-primary" value='{% trans "Esikatsele" %}' /></p>
			</form>
		</div>
	</div>
</div>

<script type="text/javascript">
	document.getElementById("submit_button").addEventListener("click", function(){
	  window.btn_clicked = true; 
	});

	var formChanged = false;
	var myForm = document.getElementById('add_project_form');
	myForm.addEventListener('change', () => formChanged = true);
	window.addEventListener('beforeunload', (event) => {
	  if (formChanged && !window.btn_clicked) {
		  event.preventDefault();
		  event.returnValue = '';
	  }
	});
</script>

{% endblock %}