	{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load attachments_tags %}
{% load i18n %}

{% block title %}
Lisää projekti
{% endblock %}

{% block content %}

<div class="container">
	<div class="row justify-content-center">
		<div class="col-8">
			<h1 class="mt-2">Lisää projekti</h1>
			<hr class="mt-0 mb-4">

			<h6 class="mt-2">Lisätäänkö projekti Referenssipankkiin?</h6>
			<div class="custom-control custom-checkbox">
			  	<input type="checkbox" class="custom-control-input" id="ref_check" onclick="HideAndReveal()">
			  	<label class="custom-control-label" for="ref_check">Kyllä</label>
			</div>

			<form action="" enctype="multipart/form-data" id="add_project_form" method="post">
				{% csrf_token %}
				<div class="row">
					<div class="col-6">
						{{ form1.project_name | as_crispy_field }}
					</div>
					<div class="col-6">
						{{ form1.destination_name | as_crispy_field }}
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						{{ form1.start_date | as_crispy_field}}
					</div>
					<div class="col-6">
						{{ form1.end_date | as_crispy_field }}
					</div>
				</div>
				{% for category, filters_array in filters.items%}
				<div class="row">
					<div class="col-12">
						<label>
							{{ category }}
						</label>
						<select class="js-example-basic-multiple" name="structure_type" multiple="multiple" style="width: 100%">
							{% for filter in filters_array %}
								{% if edit_project is true %}
									{% if filter in selected_filters|get_item:category %}
										<option value= "{{ filter }}" selected="selected"> {{ filter }} </option>
									{% else %}
										<option value= "{{ filter }}" > {{ filter }} </option>
									{% endif %}
								{% else %}
									<option value= "{{ filter }}" > {{ filter }} </option>
								{% endif %}
							{% endfor %}
						</select>
						<br>
					</div>
				</div>
				{% endfor %}
				<div class="row">
					<div class="col-6">
						{{ form1.keywords | as_crispy_field }}
					</div>
					<div class="col-6">
						{{ form1.project_manager | as_crispy_field }}
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						{{ form1.project_description | as_crispy_field }}
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						{{ form1.documentation_path | as_crispy_field }}
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						{% image_form image %}
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						{% attachment_form attachment %}
					</div>
				</div>
				
				<div id=reference_fields>
					<div class="row">
						<div class="col-6">
							{{ form2.undertaking | as_crispy_field }}
						</div>
						<div class="col-6">
							{{ form2.client | as_crispy_field }}
						</div>
					</div>
					<div class="row">
						<div class="col-6">
							{{ form2.area | as_crispy_field}}
						</div>
						<div class="col-6">
							{{ form2.construction_cost | as_crispy_field }}
						</div>
					</div>
					<div class="row">
						<div class="col-6">
							{{ form2.project_accepted | as_crispy_field }}
						</div>
						<div class="col-6">
							{{ form2.construction_permit_granted | as_crispy_field }}
						</div>
					</div>
				</div>
				<br>
				<button type="submit" id="submit_button" class="btn btn-success"> Tallenna </button>
			</form>
		</div>
	</div>
</div>

<script>
	function HideAndReveal() {
	  var check_box = document.getElementById("ref_check");
	  var rf1 = document.getElementById("ref_field1");
	  var rf2 = document.getElementById("ref_field2");
	  var rf3 = document.getElementById("ref_field3");
	  var rf4 = document.getElementById("ref_field4");
	  var rf5 = document.getElementById("ref_field5");
	  var rf6 = document.getElementById("ref_field6");
	  var rfs = document.getElementById("reference_fields")
	  if (check_box.checked == true){
	    rfs.style.display = "block";
	    rf1.disabled = false;
	    rf2.disabled = false;
	    rf3.disabled = false;
	    rf4.disabled = false;
	    rf5.disabled = false;
	    rf6.disabled = false;
	  } else {
	    rfs.style.display = "none";
	    rf1.disabled = true;
	    rf2.disabled = true;
	    rf3.disabled = true;
	    rf4.disabled = true;
	    rf5.disabled = true;
	    rf6.disabled = true;
	  }
	}
	HideAndReveal();
</script>

<script>
	$(document).ready(function() {
	    $('.js-example-basic-multiple').select2({
	    	theme: "bootstrap",
	    	placeholder: "Valitse yksi tai useampi"
	    });
	});
</script>

<script>
	document.getElementById("submit_button").addEventListener("click", function(){
	  window.btn_clicked = true; 
	});
	var formChanged = false;
	var myForm = document.getElementById('add_project_form');
	var selectors = document.getElementsByClassName('js-example-basic-multiple');
	for (let selector of selectors) {
		$('#' + selector.id).on('select2:selecting', function(e) {
			console.log("test this .......");
			formChanged = true;
		});
	}

	myForm.addEventListener('change', () => formChanged = true);
	window.addEventListener('beforeunload', (event) => {
	  if (formChanged && !window.btn_clicked) {
		  event.preventDefault();
		  event.returnValue = '';
	  }
	});
</script>

{% endblock %}