{% extends "base.html" %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block title %}
Lisää projekti
{% endblock %}

{% block content %}
<div class="container">
	<div class="row justify-content-center">
		<div class="col-8">
			<h1 class="mt-2">Projektin tiedot</h1>
			<hr class="mt-0 mb-4">
			<table>
			{% for field in form %}
			<tr>
			<th>{{ field.label }}:</th>
			<td>{{ field.data }}</td>
			</tr>
			{% endfor %}
			</table>
			<form action="" method="post">{% csrf_token %}
			{% for field in form %}{{ field.as_hidden }}
			{% endfor %}
			<input type="hidden" name="{{ stage_field }}" value="2" />
			<input type="hidden" name="{{ hash_field }}" value="{{ hash_value }}" />
			<br>
			<p><input type="submit"  class="btn btn-primary" value='{% trans "Tallenna" %}' /></p>
			</form>
		</div>
	</div>
</div>
<br>
<div class="container">
	<div class="row justify-content-center">
		<div class="col-8">
			<h2 class="mt-2">Muokkaa vielä tietoja</h2>
			<hr class="mt-0 mb-4">
			<form action="" method="post">
				{% csrf_token %}
				<div class="row">
					<div class="col-6">
						{{ form.project_name|as_crispy_field }}
					</div>
					<div class="col-6">
						{{ form.destination_name|as_crispy_field }}
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						{{ form.start_date | as_crispy_field}}
					</div>
					<div class="col-6">
						{{ form.end_date | as_crispy_field }}
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						{{ form.structure_type|as_crispy_field }}
					</div>
					<div class="col-6">
						{{ form.building_material|as_crispy_field }}
					</div>
					<div class="col-6">
						{{ form.service|as_crispy_field }}
					</div>
					<div class="col-6">
						{{ form.construction_operation|as_crispy_field }}
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						{{ form.specific_project_type|as_crispy_field }}
					</div>
					<div class="col-6">
						{{ form.project_manager|as_crispy_field }}
					</div>
				</div>
				{{ form.project_description|as_crispy_field }}
				<div class="row">
					<div class="col-6">
						{{ form.documentation_path|as_crispy_field }}
					</div>
				</div>
				<input type="hidden" name="{{ stage_field }}" value="1" />
				<p><input type="submit" class="btn btn-primary" value='{% trans "Päivitä" %}' /></p>
			</form>
		</div>
	</div>
</div>

{% endblock %}
