{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load attachments_tags %}

{% block title %}
Muokkaa projektia
{% endblock %}

{% block content %}

<div class="container">
	<div class="row justify-content-center">
		<div class="col-8">
			<h1 class="mt-2">Muokkaa projektin tietoja</h1>
			<hr class="mt-0 mb-4">
			<form action="" id="add_project_form" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="row">
					<div class="col-6">
						{{ form.project_name | as_crispy_field }}
					</div>
					<div class="col-6">
						{{ form.destination_name | as_crispy_field }}
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						{{ form.start_date | as_crispy_field}}
					</div>
					<div class="col-6">
						{{ form.end_date | as_crispy_field }}
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<label>
							Rakennustyyppi
						</label>
						<select class="js-example-basic-multiple" name="structure_type" multiple="multiple" style="width: 100%">
							{% for filter in f1 %}
								{% if filter in sf1 %}
									<option value= "{{ filter }}" selected="selected"> {{ filter }} </option>
								{% else %}
									<option value= "{{ filter }}" > {{ filter }} </option>
								{% endif %}
							{% endfor %}
						</select>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-12">
						<label>
							Rakennusmateriaali
						</label>
						<select class="js-example-basic-multiple" name="building_material" multiple="multiple" style="width: 100%">
							{% for filter in f2 %}
								{% if filter in sf2 %}
									<option value= "{{ filter }}" selected="selected"> {{ filter }} </option>
								{% else %}
									<option value= "{{ filter }}" > {{ filter }} </option>
								{% endif %}
							{% endfor %}
						</select>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-12">
						<label>
							Palvelu
						</label>
						<select class="js-example-basic-multiple" name="service" multiple="multiple" style="width: 100%">
							{% for filter in f3 %}
								{% if filter in sf3 %}
									<option value= "{{ filter }}" selected="selected"> {{ filter }} </option>
								{% else %}
									<option value= "{{ filter }}" > {{ filter }} </option>
								{% endif %}
							{% endfor %}
						</select>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-12">
						<label>
							Rakennustoimenpide
						</label>
						<select class="js-example-basic-multiple" name="construction_operation" multiple="multiple" style="width: 100%">
							{% for filter in f4 %}
								{% if filter in sf4 %}
									<option value= "{{ filter }}" selected="selected"> {{ filter }} </option>
								{% else %}
									<option value= "{{ filter }}" > {{ filter }} </option>
								{% endif %}
							{% endfor %}
						</select>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-12">
						<label>
							Rakenneosa
						</label>
						<select class="js-example-basic-multiple" name="structural_component" multiple="multiple" style="width: 100%">
							{% for filter in f5 %}
								{% if filter in sf5 %}
									<option value= "{{ filter }}" selected="selected"> {{ filter }} </option>
								{% else %}
									<option value= "{{ filter }}" > {{ filter }} </option>
								{% endif %}
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						{{ form.keywords | as_crispy_field }}
					</div>
					<div class="col-6">
						{{ form.project_manager | as_crispy_field }}
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						{{ form.project_description | as_crispy_field }}
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						{{ form.documentation_path | as_crispy_field }}
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<label>
							Kansikuva
						</label>
						{% get_images_for id as images %}
						{% if images %}
						{% for image in images %}
							<a href="{{ image.attachment_image.url }}">
								<img src="{{ image.attachment_image.url }}" style="width:100%; max-height: 2000px;">
								<br>
							</a>
							<center>
								{% image_delete_link image %}
							</center>
						{% endfor %}
						<br>
						<br>
						{% endif %}
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						{% image_form image %}
					</div>
				</div>
				{% get_attachments_for id as my_entry_attachments %}
                {% if my_entry_attachments %}
				{% include "snippets/files_table.html" with delete_links_included=true %}
            	<div>
                {% endif %}
				<div class="row">
					<div class="col-12">
						{% attachment_form attachment %}
					</div>
				</div>
				<button type="submit" class="btn btn-success">Päivitä</button>
			</form>
		</div>
	</div>
</div>

<script>
	$(document).ready(function() {
	    $('.js-example-basic-multiple').select2({
	    	theme: "bootstrap",
	    	placeholder: "Valitse yksi tai useampi"
	    });
	});
</script>

{% endblock %}
