{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}

{% block title %}
Etsi projekteja tietokannasta
{% endblock %}

{% block content %}

<div class="container">
	<div class="row justify-content-center">
		<div class="col-8">
			<h1 class="mt-2">Etsi projekti</h1>
			<hr class="mt-0 mb-4">

			<form id='search_project_form' method='get'>
				{% csrf_token %}

				<h6 class="mt-2">Etsitään vain referenssipankista?</h6>
				<div class="custom-control custom-checkbox">
				  	<input type="checkbox" class="custom-control-input" id="ref_check" name="is_ref" value="true" onclick="HideAndReveal()">
				  	<label class="custom-control-label" for="ref_check">Kyllä</label>
				</div>

				<div class="row">
					<div class="col-12">
						{{ form1.key_phrase_search|as_crispy_field }}
					</div>
				</div>
				<div id="reference_fields" class="row">
					<div class="col-12">
						{{ form1.area|as_crispy_field }}
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						<label>
							Rakennustyyppi
						</label>
						<select class="js-example-basic-multiple" name="structure_type" multiple="multiple" style="width: 100%">
							{% for filter in f1 %}
								<option value= "{{ filter }}" > {{ filter }} </option>
							{% endfor %}
						</select>
					</div>
					<div class="col-6">
						<label>
							Rakennusmateriaali
						</label>
						<select class="js-example-basic-multiple" name="building_material" multiple="multiple" style="width: 100%">
							{% for filter in f2 %}
								<option value= "{{ filter }}" > {{ filter }} </option>
							{% endfor %}
						</select>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-6">
						<label>
							Palvelu
						</label>
						<select class="js-example-basic-multiple" name="service" multiple="multiple" style="width: 100%">
							{% for filter in f3 %}
								<option value= "{{ filter }}" > {{ filter }} </option>
							{% endfor %}
						</select>
					</div>
					<div class="col-6">
						<label>
							Rakennustoimenpide
						</label>
						<select class="js-example-basic-multiple" name="construction_operation" multiple="multiple" style="width: 100%">
							{% for filter in f4 %}
								<option value= "{{ filter }}" > {{ filter }} </option>
							{% endfor %}
						</select>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-6">
						<label>
							Rakenneosa
						</label>
						<select class="js-example-basic-multiple" name="structural_component" multiple="multiple" style="width: 100%">
							{% for filter in f5 %}
								<option value= "{{ filter }}" > {{ filter }} </option>
							{% endfor %}
						</select>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-6">
						{{ form1.start_date|as_crispy_field }}
					</div>
					<div class="col-6">
						{{ form1.end_date|as_crispy_field }}
					</div>
				</div>

				<button type="submit" id="search_button" class="btn btn-primary">Etsi</button>

			</form>
		</div>
	</div>
</div>

<script>
	function HideAndReveal() {
	  var check_box = document.getElementById("ref_check");
	  var rfs = document.getElementById("reference_fields")
	  var rf1 = document.getElementById("ref_field1")
	  if (check_box.checked == true){
	    rfs.style.display = "block";
	    rf1.disabled = false;
	  } else {
	    rfs.style.display = "none";
	    rf1.disabled = true;
	  }
	}
	HideAndReveal();
</script>

<script>
	$(document).ready(function() {
	    $('.js-example-basic-multiple').select2({
	    	theme: "bootstrap",
	    	placeholder: "Valitse yksi tai useampi"
	    });
	});
</script>

<div class="d-flex-md justify-content-center">
	<div class="ml-5 mr-5" id="table_div">

	</div>
</div>

<script type='text/javascript'>
	$(function(){
		$('#search_button').click(function(ev){
			$.ajax({
				type: 'GET',
				url: '/search/',
				data: $('#search_project_form').serialize(),
				success: function(data, textStatus, jqXHR) {
                	$('#table_div').html(data);
	            },
	            error: function(data, textStatus, jqXHR) {
	            },
	            dataType: 'html'
			});
			ev.preventDefault();
		});
	});
</script>

{% endblock %}