{% extends 'base.html' %}

{% block title %}
Etsi projekteja
{% endblock %}

{% block content %}

<center><br/>
<div class='w3-container'>
	<p>
	<font size='5'>
	Etsi projekteja tietokannasta:
	</font>
	</p>
	<form method='post'>
		{% csrf_token %}
		<table>
			{{ form.as_table }}
		</table>
	    <button type='submit'> Etsi </button>
	</form>
</div>
<br>

<table>
	{% for row in result %}
		<tr>
			{% for cell in row %}
				<td>{{ cell }}</td>
			{% endfor %}
		</tr>
	{% endfor %}
</table>

</center>

{% endblock %}