{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block title %}
Etsi projekteja
{% endblock %}

{% block content %}
<div class="container">
	<div class="row justify-content-center">
		<div class="col-8">
			<h1 class="mt-2">Etsi projekti</h1>
			<hr class="mt-0 mb-4">
			<form method='post'>
				{% csrf_token %}
			    <div class="row">
			      <div class="col-6">
			        {{ form.start_date|as_crispy_field }}
			      </div>
			      <div class="col-6">
			        {{ form.end_date|as_crispy_field }}
			      </div>
			    </div>
			    <div class="row">
			      <div class="col-6">
			        {{ form.structure_type|as_crispy_field }}
			      </div>
			      <div class="col-6">
			        {{ form.building_material|as_crispy_field }}
			      </div>
			      <div class="col-6">
			        {{ form.service|as_crispy_field }}
			      </div>
			      <div class="col-6">
			        {{ form.construction_operation|as_crispy_field }}
			      </div>
			    </div>
			    {{ form.project_manager|as_crispy_field }}
			    <button type="submit" class="btn btn-primary">Etsi</button>
			</form>
		</div>
	</div>
</div>
<br>
<center>
{% render_table result %}
</center>
{% endblock %}