{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}
Kirjaudu sisään
{% endblock %}

{% block content %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      	<h1 class="mt-2">Kirjaudu sisään</h1>
      	<hr class="mt-0 mb-4">
      	<form method="post" class="form-signin">
    		{% csrf_token %}
    		{% bootstrap_form form class="text-center form-label-group" %}
    		{% buttons %}
    		<button type="submit" class="btn btn-primary">Login</button>
    		{% endbuttons %}
  		</form>
    </div>
  </div>
</div>

{% endblock %}
