<table>
  <tr>
    <th>Hanke</th>
    <td>{{ item.referenceproject.undertaking }}</td>
  </tr>
  <tr>
    <th>Tilaaja</th>
    <td>{{ item.referenceproject.client }}</td>
  </tr>
  <tr>
    <th>Laajuus(brm2)</th>
    <td>{{ item.referenceproject.area }}</td>
  </tr>
  <tr>
    <th>Rakentamiskustannukset</th>
    <td>{{ item.referenceproject.construction_cost }}</td>
  </tr>
  <tr>
    <th>Hanke vastaanotettu</th>
    <td>{{ item.referenceproject.project_accepted }}</td>
  </tr>
  <tr>
    <th>Rakennuslupa myönnetty</th>
    <td>{{ item.referenceproject.construction_permit_granted }}</td>        
  </tr>
</table>